<div class="card">
<h3><%= @question %></h3>

<h3>-you</h3>
</div>

<div class="card">
<h3><%= @answer %></h3>

<h3>-your coach</h3>
</div>

<%= link_to("/ask") do %>
  <p>Ask another question</p>
<% end %>