<div class="card">
  <div class="card-body">
    <p><%= @question %></p>
    <p>-<i>you</i></p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p><%= @answer %></p>
    <p>-<i>your coach</i></p>
  </div>
</div>

<%= link_to("/ask") do %>
  <p>Ask another question</p>
<% end %>