<div class="container">
  <form action="/answer">
    <label for="coach_ask">Ask your coach anything:</label>
    <input type="text" name="coach_ask" class="form-control" id>
    <input type="submit" value="Ask!" class="btn btn-info" >
  </form>
</div>


